:host {
  display: flex;
  flex-direction: row; // 維持原本
  flex-wrap: wrap;
  gap: 20px;

  .search-bar {
    width: 100%; // 獨佔一行，把卡片擠到下面
    display: flex;
    gap: 0.5rem;
  }

  div.data-empty {
    padding: 15px;
    border: solid 1px #ccc;
    width: 100%;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
  }

  .app-product-card {
    flex-basis: calc(20% - 40px);
  }
}
