<div class="search-bar">
  <input type="text" placeholder="產品名稱查詢" [(ngModel)]="searchKeyword" />
  <button (click)="onSearch()">查詢</button>
</div>

@for (product of filteredProducts(); track $index) {
<app-product-card
  [id]="product.id"
  [productName]="product.name"
  [authors]="product.authors"
  [company]="product.company"
  [(isShow)]="product.isShow"
  [photoUrl]="product.photoUrl"
  [price]="product.price"
  [product]="product"
  (edit)="edit.emit(product)"
  (remove)="remove.emit(product)"
  (view)="view.emit(product)"
></app-product-card>
} @empty {
<div class="data-empty">無產品資料</div>
}
